body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    color: #000;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }